<!-- SIDEBAR -->
<div class="card">
    <img src="./assets/images/banner.png" class="card-img-top" alt="MTMD Banner">
    <div class="card-body">
        <h5 class="card-title">Mercy D.</h5>
        <p class="card-text">Or at least, I will be . . . once I'm done my Master's degree!<br><br>
            I'm looking to collaborate on any R&D projects! I'm particularly interested in machine translation, low-resource language analyses, and technology-assisted language acquisition.</p>
        <a href="mailto:19mtmd@queensu.ca" class="btn btn-primary">Send me a message!</a>
    </div>
</div>
<br>

Fun links
<ul class="list-group">
    <li class="list-group-item"><a href="https://sunyshore.github.io/resume/Mercy_Doan_Resume.pdf">Resume</a></li>
    <li class="list-group-item"><a href="https://discord.gg/6gqMHsu63t">Bot Development Discord Server</a></li>
    <li class="list-group-item"><a href="https://open.spotify.com/user/lyzzyawesomeness?si=1d26e1ccd3bb42ae">Spotify Profile</a></li>
</ul>
<br>

What I'm working on right now:<br>
- <b>Project</b>: Exploring EEG thought-to-text with NLP<br>
- <b>Project</b>: Optimizing travel routes using genetic algorithms<br>
- <b>Life</b>: Applying to Masters' programs!
<br><br>
What I'm listening to:<br>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4Af4IW1ip1kRnRs7A2ba8P?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4KgcAo8wQrXexfwpIsgzLf?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6FgEE6uNgGz0RbH8nlF4as?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>